@page "/appointment"
@using BlazingShop.Data
@using BlazingShop.Services

@inherits OwningComponentBase<AppointmentService>

<AuthorizeView>
    <Authorized Context="Auth">

        @if (appointments == null)
        {
            <p><em>Loading or No Appointments Available.</em></p>
        }
        else
        {
            <div class="container border p-3">
                <div class="row">
                    <div class="col-5">
                        <h1 class="text-info">Appointment List</h1>
                    </div>
                </div>

                <div class="row pt-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Customer Email</th>
                                <th>Customer Contact</th>
                                <th>Product Name</th>
                                <th>AppointmentDate</th>
                                <th>IsConfirmed</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in appointments)
                            {
                            <tr>
                                <td>@obj.CustomerName</td>
                                <td>@obj.CustomerEmail</td>
                                <td>@obj.CustomerPhone</td>
                                <td>@obj.Product.Name</td>
                                <td>@obj.AppointmentDate</td>
                                <td>
                                    <input type="checkbox" checked="@(obj.IsConfirmed)" class="form-control" disabled>
                                </td>
                                <td>
                                    <button class="btn btn-primary" style="width:150px" @onclick="(()=>EditAppointment(obj))">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (ShowPopup)
        {
            <div class="modal" tabindex="-1" style="display:block" role="dialog">
                <EditForm Model="@objAppointment" OnValidSubmit="@ValidSubmit">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="text-info">Update Appointment</h3>
                                <button type="button" class="close" @onclick="ClosePopup">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <div class="row my-2">
                                    <div class="col-9">
                                        <div class="row py-2">
                                            <div class="col-4">
                                                Customer Name
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" @bind="objAppointment.CustomerName" />
                                            </div>
                                            <div class="col-4">
                                                Customer Email
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" @bind="objAppointment.CustomerEmail" />
                                            </div>
                                            <div class="col-4">
                                                Customer Contact
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" @bind="objAppointment.CustomerPhone" />
                                            </div>
                                            <div class="col-4">
                                                Product Name
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" @bind="objAppointment.Product.Name" />
                                            </div>
                                            <div class="col-4">
                                                Appointment Date
                                            </div>
                                            <div class="col-8">
                                                <input class="form-control" type="text" @bind="objAppointment.AppointmentDate" />
                                            </div>
                                        </div>
                                        <div class="row py-2">
                                            <div class="offset-4 col">
                                                <button class="btn btn-outline-success" type="submit">Confirm!</button>
                                            </div>
                                            @if (objAppointment.Id > 0)
                                            {
                                                <div class="col">
                                                    <button class="btn btn-outline-danger" type="submit" @onclick="DeleteAppointment">Delete</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-3 ">
                                        <img src="@convertImageToDisplay(objAppointment.Product.Image)" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    //[CascadingParameter]
    //private Task<AuthenticationState> authenticationState { get; set; }

    List<Appointment> appointments;
    Appointment objAppointment = new Appointment();

    bool ShowPopup = false;

    protected override void OnInitialized()
    {
        //var user = (await authenticationState).User;
        //var emailOdUser = user.Identity.Name;
        appointments = Service.GetAppointments();
    }

    void EditAppointment(Appointment appointment)
    {
        objAppointment = appointment;
        ShowPopup = true;
    }

    void DeleteAppointment()
    {
        ShowPopup = false;
        var result = Service.DeleteAppointment(objAppointment);
        appointments.Clear();
        appointments = Service.GetAppointments();
    }

    void ClosePopup()
    {
        ShowPopup = false;
    }

    void ValidSubmit()
    {
        var result = false;
        ShowPopup = false;
        result = Service.ConfirmAppointment(objAppointment);
        appointments = Service.GetAppointments();
        if (objAppointment.Id > 0)
        {
            result = Service.UpdateAppointment(objAppointment);
        }

        appointments = Service.GetAppointments();
    }

    string convertImageToDisplay(byte[] image)
    {
        if (image != null)
        {
            var base64 = Convert.ToBase64String(image);
            var finalStr = string.Format("data:image/jpg;base64,{0}", base64);
            return finalStr;
        }

        else { return ""; }
    }
}
